/* Main */
body {
  background-color: #fff;
}

h1 {
  color: #005b7a;
  font-family: 'Noto Sans JP', sans-serif;
  font-feature-settings: "palt";
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: 1.4;
  margin: 0;
}

h2 {
  color: #005b7a;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-feature-settings: "palt";
  font-size: 21px;
  line-height: 1.3;
  margin: 40px 0px 10px 0px;
}

h3 {
  color: #e4c76f;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-feature-settings: "palt";
  margin: 10px 0px 5px 0px;
}

p {
  color: #3c4342;
  font-family: 'Noto Sans JP', sans-serif;
  font-feature-settings: "palt";
  font-size: 14px;
  font-weight: 400;
  line-height: 2.0;
  margin-top: 5px;
}

p.data {
  color: #3c4342;
  font-family: Futura, Lato, 'Noto Sans JP', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 3px;
}

p.data span {
  margin-right: 10px;
}

p span.date {
  color: #3c4342;
}

span.place i {
  color: #a00;
}

span.writer i {
  color: #0a0;
}

p span.tag {
  padding: 0px 7px;
  font-size: 16px;
  color: #3c4342;
  border-radius: 8px;
  transition: 0.2s;
  border: solid 1px #3c4342;
}

p span.tag:hover {
  color: #005b7a;
  border-color: #005b7a;
}

p span.mode {
  color: #3c4342;
  text-decoration: underline;
}

p span.mode:hover {
  color: #005b7a;
}

strike {
  text-decoration: none;
  background:linear-gradient(transparent 50%, #9ff 0%);
}

strong {
  font-weight: 600;
}

span {
  display: inline-block;
}

span.inline-code {
  background-color: #e4c76f;
  border-radius: 3px;
  padding: 0 3px;
  font-family: Menlo, Monaco, monospace;
  line-height: 1.5;
}

hr {
  margin-top: 10px;
}

a {
  color: #0366d6;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

img {
  margin: 30px 0px 30px 0px;
}

blockquote {
    position: relative;
    padding: 10px 10px 10px 32px;
    box-sizing: border-box;
    font-style: italic;
    color: #464646;
    background: #e0e0e0;
    border-left: none;
}

blockquote:before{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    content: "\f10d";
    font-family: FontAwesome;
    color: #e0e0e0;
    font-size: 22px;
    line-height: 1;
    z-index: 2;
    font-weight: 900;
}

blockquote:after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    border-width: 0 0 40px 40px;
    border-style: solid;
    border-color: transparent #ffffff;
}

blockquote p {
    position: relative;
    padding: 0;
    margin: 10px 0;
    z-index: 3;
    line-height: 1.7;
}

blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}

.button-color {
  background-color: #005b7a;
}

ul:not(.sns):not(.shareList):not(.google) li:not(.l0):not(.l1):not(.L2):not(.L3):not(.L4):not(.L5):not(.L6):not(.L7):not(.L8):not(.L9):before {
  content: "・ ";
  color: #005b7a;
  font-family: 'Noto Sans JP', sans-serif;
  font-feature-settings: "palt";
  font-size: 14px;
  font-weight: 400;
}

ol:not(.linenums) {
    counter-reset: li;
    list-style: none;
    padding: 0;
}

ol:not(.linenums) li:before {
    color: #005b7a;
    font-family: Futura, Lato, sans-serif;
    counter-increment: li;
    content: counter(li) ". ";
}


/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  border-bottom: solid 1px #ddd;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 9999;
}

.nav {
  height: 55px;
  padding: 12.5px;
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
}

.left {
  text-align: left;
  height: 30px;
  display: table-cell;
}

.logo {
  height: 30px;
  width: auto;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.logo img {
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

.title {
  height: 30px;
  line-height: 30px;
  width: auto;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.title h1 {
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  font-feature-settings: "palt";
  font-size: 14px;
  font-weight: 500;
  display: table-cell;
  vertical-align: middle;
}

.right {
  text-align: right;
}

.sns {
  height: 30px;
  width: auto;
  margin: 0 auto;
  display: inline-block;
}

.sns li {
  display: inline-block;
  position: relative;
}

.sns img {
  margin: 0;
  margin-left: 2px;
  margin-right: 2px;
  transition: 0.2s;
  padding: 2px;
}

.sns img:hover {
  opacity: 0.5;
}


/* Using Font Awesome */
.shareList {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  list-style: none;
}

.shareList-item {
  width: 30px;
  height: 30px;
  margin: 5px 0 0 5px;
  line-height: 30px;
  text-align: center;
}

.icon {
  display: block;
  color: #fff;
  border-radius: 15px;
  height: 100%;
  transition: 0.2s;
}

.icon:hover {
  opacity: 0.7;
}

.icon-twitter {
  background: #55acee;
}

.icon-facebook {
  background: #3b5998;
}

i.fab {
  top: 50%;
  left: 50%;
  transform: translateY(55%) translateX(5%);
  -webkit-transform: translateY(55%) translateX(5%);
}


/* Link */
.link {
  background-color: #fff;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px #ddd;
  border-radius: 4px;
  display: inline-block;
  transition: 0.2s;
  overflow: hidden;
}

.link:hover {
  border: solid 1px #ccc;
  opacity: 0.95;
}

.link .img {
  overflow: hidden;
  position: relative;
  margin: 0;
  float: left;
  width: 30%;
  height: 100%;
}

.link .img img {
  margin: 0;
}

.link .title {
  float: right;
  margin: 0;
  width: 65%;
  height: 100%;
}

.link .title p {
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  font-feature-settings: "palt";
  font-size: 15px;
  font-weight: 600;
  margin: 20px 20px auto 0px;
  line-height: 1.4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.link .title p.data {
  color: #545d87;
  font-family: Futura, Merriweather Sans, 'Noto Sans JP', sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}


/* Code */
code.prettyprint, pre.prettyprint {
  width: 100%;
  background-color: #005b7a;
  border: solid 10px #005b7a;
  margin: 20px 0px;
  padding: 0px;
  overflow: scroll;
  font-size: 15px;
}

ol li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
  z-index: 0;
  background-color: #005b7a;
  margin-left: -35px;
}

code span {
  font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}


/* Index */
.swiper-container {
  width: 100%;
  height: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: 0.2s;
  border: solid 1px #eee;
  border-radius: 4px;
}

.swiper-container:hover {
  border: 1px solid #ccc;
}

.swiper-slide {
  height: 124px;
  text-align: left;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
}

.swiper-slide .link {
  border: none;
}

.swiper-slide .link:hover {
  border: none;
}


/* Footer */
footer {
  width: 100%;
  background-color: #e9e5eb;
  text-align: center;
  margin: 0;
  margin-top: 100px;
  position: relative;
}

footer p {
  color: #333;
  font-family: Futura, Merriweather Sans, 'Noto Sans JP', sans-serif;
  font-feature-settings: "palt";
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  padding: 4vw 12vw;
  margin: 0;
}

footer a {
  color: #333;
  text-decoration: underline;
}


/* For mobile phones */
@media screen and (min-width: 767px) {
  .main {
    width: 40%;
    margin: auto;
    margin-top: 60px;
  }
  .muisto-header {
    width: 100vw;
  }
  .link {
    height: 130px;
  }
}

.muisto-header {
  overflow: hidden;
}

.muisto-header img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.muisto-header h1 {
  font-family: Futura;
  font-weight: 300;
  color: #fff;
  text-shadow: 1px 1px 3px #333;
  position: absolute;
  top: 27.5%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

@media screen and (max-width: 767px) {
  .main, .muisto-data {
    width: 90%;
    margin: auto;
    margin-top: 60px;
  }
  .nav {
    margin-left: 0px;
    margin-right: 0px;
  }
  .nav .title {
    display: none;
  }
  .link {
    height: 130px;
  }
  .link .title p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .link .title p span {
    display: inline;
  }
}
